.container {
    border-radius: 5px;
    width: 350px;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    padding: 20px 0 40px 0;

    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: calc(50% - 200px);
}

.headline {
    font-weight: 500;
    margin: 0 0 15px 0;
}

.input {
    width: 80%;
    height: 32px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom: 20px;
    text-indent: 15px;
}

.button {
    width: 82%;
    height: 40px;
    border: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(76, 144, 223);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(65, 126, 196);
    transition: 0.2s ease-out;
}

.all_users {
    width: 350px;
    height: 30px;
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: calc(65%);
}
